html(ng-app="site")
    head
        title=title
        link(rel="shortcut icon",type='image/png',href='/images/favicon.png')
        link(rel="stylesheet",type="text/css",href="/src/bootstrap/dist/css/bootstrap.css")
        script(src="/src/angular/angular.js")
        script(src='/js/main.js')
    body(ng-controller='main')
        div.alert.alert-success=msg
        div.list-group
            div.list-group-item(ng-model='items',ng-repeat='fruta in items',ng-bind='fruta')